################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/.vs/SyntraCalc/v16/Server/sqlite3/db.lock
/WpfApp1/.vs/SyntraCalc/v16/Server/sqlite3/storage.ide
/WpfApp1/.vs/SyntraCalc/v16/Server/sqlite3/storage.ide-shm
/WpfApp1/.vs/SyntraCalc/v16/Server/sqlite3/storage.ide-wal
/SyntraCalc/.vs/SyntraCalc/v16/Server/sqlite3/db.lock
